body{
    margin: 0;
    padding: 0;
    border: border 'box';
    font-family: 'Work Sans', sans-serif;
}
/*header part*/
.header{
    background: url(images/banner/banner2.png);
    background-size: cover;
    background-position: center;
    height: 809px;
    width: 1519px;
   
   
}
.comment{
    text-align: right;
    align-items: top;
    padding-right: 228px;
    padding-top: 228px;
  
    
   
}
.banner-heading{
    font-size: 65px;
    color: #151414;
    height: auto;
    margin: auto;

    
}
.banner-title{
    font-size: 16px;
    font-family: normal;
    color: #444343;

}
.banner-btn{
   
    height: 64px;
    width: 160px;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    background-color: #f15b22;



}
.banner-btn:hover{
    background: #fff;
}
/*section 1*/
nav{
    list-style: none;

}
  nav li:before{
    content:'✓';
    color:#16D887;
}
.my-priveus{
    display: flex;
    margin: 9%;
    position: center;
    gap: 50px;
    margin-top:150px;


}
.sections{
    height:  400px;
    width:418.33;
    height: auto;
    margin: auto;

}
.img-section{
    height: 723.3px;
    width: 572.18px;
   
}
.priveus-heading{
    color: #151414;
    font-size: 40px;
}
.priveus-pera{
    color:#444343;
    font-size: 16px;
}
/*section 2*/
.my-plan{
    margin-top: 150px;
}
.plan-heading{
    font-size: 40px;
   text-align: center;
   color: #151414;
}
.container{
    display: flex;
    gap: 100px;
    height: auto;
    margin: auto;
    padding-left: 200px;
    text-align: center;
   
}
.p{ 
    height: 92.6px;
    width: 92.6px;

}
.hed{
    font-size: 30px;
    color: #151414;
}
.pera{
    font-size: 16px;
    color: #737272;
}
/*section 3*/
  .call-section{
    background:url(images/watch.png);
    background-repeat: no-repeat;
    height: auto;
    margin: auto;
    height: 300px;
    width: 1140px;
    margin-top: 150px;
   
  }
  .heading{
    font-size: 40px;
    color: #fff;

  }
  .call{
    height: 182px;
    width: 459px;
    margin: 50px;
    padding-top: 40px;

  }
  /*footer part*/
.last{
    
    margin: 70px;
    padding-top: 60px;

    height: auto;
    margin: auto;
  
}
footer{
    margin-top: 150px;
    display: flex;
    background: black;
    width: 1519px;
    height: 577px;
   
}



.h2{
    color: #fff;
    font-size: 40px;
    

    
}
.h3{
    color: #fff;
    font-size: 40px;
}
.p{
    color: #fff;
    font-size: 16px;
    display: inline;


}
.h6{
    color: #fff;
    font-size: 16px;
}

.btn-footer{
    width: 170.11px;
    height: 64px;
    padding: 8px 16px;  
}

 .btn-footer input[type="Email"]{

    display: block;
    margin-bottom: 25px;
    padding: 18px 55px;
    color: #757575;
    border-radius: 5px;
    background: black;
    border: 2px solid white;
    width: 100%;
    font-size: 16px;
 
 }
 .email{
    width: 325px;
    height: 64px;
    border-radius: 5px;
    border: 3px solid white;
    background: black;
    text-align: center;
 }
 
   